/* ABOUT PAGE STYLESHEET */

.artist { 
    background: url(../images/artist_portrait.png) no-repeat top center / cover;
    max-width: 300px;
    max-height: 300px;
    

}
.paintingone {

}

/*
#circle-cover-bg {
    background: url('../images/reasons-image.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

*/