/* ABOUT PAGE STYLESHEET */

.about-h1 {
    text-align: center;
}

.about-artist { 
   background-image: url('../images/artist_portrait.png') no-repeat top center / cover;  
    
   
    

}
    .about-painting-one {

        background-image: url('../images/collections/h/h1.webp')no-repeat top center / cover; 
        
    /* background: url ('../images/collections/h/h1.webp') no-repeat top center / cover;
     background: url('../images/artist_portrait.png') no-repeat top center / cover;
    */
}

/*
#circle-cover-bg {
    background: url('../images/reasons-image.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

*/