/* ABOUT PAGE STYLESHEET */


/*About General styles*/
h1 {
    text-align: center;
}

p {
    text-align: justify;
}

span {
    font-style: italic;
}

/*section one*/

.about-section-one .about-div-one {
    
    padding-bottom: 5%;
}

/*section two*/

.about-section-one .about-div-two {
    padding-top: 5%;
    padding-bottom: 5%;
}



/*section three*/

.about-section-one .about-div-five 
{
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-image {
    width: 100%;
    margin-bottom: 20px;
}



