/* ABOUT PAGE STYLESHEET */


/*About General styles*/
h1 {
    text-align: center;
}

p {
    text-align: justify;
}

/*section one*/

.about-section-one .about-div-one {
    padding-top: 15%;
    padding-bottom: 10%;
}

/*section two*/

.about-section-one .about-div-two {
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-artist { 
   background: url(../images/artist_portrait.png)
    
   
}

/*section three*/

.about-section-one .about-div-five 
{
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-painting-one {

        background-image: url ('../images/collections/h/h1.webp')no-repeat top center / cover; 
        
    /* background: url ('../images/collections/h/h1.webp') no-repeat top center / cover;
     background: url('../images/artist_portrait.png') no-repeat top center / cover;
    */
}

/*
#circle-cover-bg {
    background: url('../images/reasons-image.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

*/