/* CONTACT PAGE STYLESHEET */

/* Heading styles */
.contact-details-personal-heading {
    margin-top: 10px;
}

/* Element Styling */

.contact-form {
}

.contact-details {
}

.contact-artist-image {
    padding-top: 10px;
}

.contact-details-image {
    background: blueviolet url('../images/easel_in_studio.png') no-repeat top center;
    background-size: cover;
    height: 40vh;
}

.contact-details-map {
    text-align: center;
    padding: 10px;
}

.contact-details-map iframe {
    width: 100%;
}

.contact-details-icon {
    margin-right: 10px;
    width: 1em;
}