/* CONTACT PAGE STYLESHEET */

.contact-form {
}

.contact-details {
}

.contact-details-image {
    background: blueviolet url('../images/artist_portrait.png') no-repeat center;
    background-size: cover;
    height: 40vh;
}

.contact-details-map {
    text-align: center;
}

.contact-details-map iframe {
    width: 100%;
}

.contact-details-icon {
    margin-right: 10px;
    width: 1em;
}