/* CONTACT PAGE STYLESHEET */

/* Heading styles */
.contact-details-personal-heading {
    margin-top: 10px;
}

/* Element Styling */

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form-field {
    border: 1px solid black;
}

.contact-form-submit {
    background-color: rgb(43, 174, 226);
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-details {
}

.contact-artist-image {
    padding-top: 10px;
}

.contact-details-image {
    background: rgb(43, 174, 226) url('../images/easel_in_studio.png') no-repeat top center;
    background-size: cover;
    height: 40vh;
}

.contact-details-map {
    text-align: center;
    padding: 10px;
}

.contact-details-map iframe {
    width: 100%;
}

.contact-details-icon {
    margin-right: 10px;
    width: 1em;
}