/* GALLERY PAGE STYLESHEET */

/* Heading Styles */

.gallery-collection-heading {
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 200;
}

/* Gallery element styling */

.gallery-collection-image-box {
    padding: 0;
    width: 100%;
    margin: 12px auto;
}

.gallery-collection-image {
    width: 100%;
    filter: grayscale(50%);
    transition: filter 1s;
}

.gallery-collection-image:hover {
    cursor: pointer;
    filter: none;
    transition: filter 1s;
}

.gallery-collection-image-box:hover {
    box-shadow: 10px 10px 10px;
}

/* Media Queries */

@media screen and (min-width: 1000px) {
    .gallery-collection-image-box {
        padding: 0;
    }
}
