/* GALLERY PAGE STYLESHEET */

/* Heading Styles */

.gallery-heading{

}

.gallery-collection-heading {
    margin-top: 20px;
}

.gallery-collection-image {
    width: 100%;
}

.gallery-collection-image:hover {
    cursor: pointer;
}