/* INDEX/HOME PAGE STYLESHEET */

.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
