/* INDEX/HOME PAGE STYLESHEET */

/* ---------CAROUSEL*/

/* Carousel Control Icons */
.carousel-control-prev-icon {    
    background-color: orange;
    border-radius: 10%;
}

.carousel-control-next-icon {
    background-color: orange;
    border-radius: 10%;
}


.carousel-control-prev {   
    
}
/* Carousel Items/Images */
.carousel .carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 400px;
  }
 

/*-----------MAIN HEADING */

.home-main-heading {
   
}

  .home-heading-icon-color1 {
    color: red;
  }

  .home-heading-icon-color2 {
  color: rgb(132,94,194)

}


.home-main-section {
    padding-bottom: 100px;
}

/*----------ARTIST IMAGE HEADING SECTION*/

  #circle-cover-bg {
    background: url(../images/artist_portrait.png) no-repeat top center / cover;  /* Create circle container for image to be used as background */
    width: 90vh;
    height: 90vh;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

#artist-image-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
    /* Gradient background for Div containing artist image */
    background: rgb(132,94,194);
    background: linear-gradient(90deg, rgba(132,94,194,1) 0%, rgba(196,147,255,1) 15%, rgba(241,195,233,1) 35%, rgba(252,223,254,1) 62%, rgba(164,21,50,1) 100%);
} 

/*--------- HOME BOTTOM IMAGE/PARAGRAPH SECTION */

#home-image-paragraph-1, #home-image-paragraph-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#mobile-top-image {
    height: 300px;
}

.img-thumbnail {
    border-color: red;
}

.home-image-paragraph-section-1 p, .home-image-paragraph-section-2 p {
    font-size: 1.5em;
}