@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* IMPORT INDIVIDUAL PAGE STYLES  */
@import url('index-style.css');
@import url('about-style.css');
@import url('gallery-style.css');
@import url('contact-style.css');

/* RESET MAIN STYTLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* COLOURS */
.bg-color-1 {
  background-color: #845ec2;
}

.bg-color-2 {
  background-color: #c493ff;
}

.bg-color-3 {
  background-color: #fefedf;
}

.bg-color-4 {
  background-color: #d5cabd;
}

.text-color-1 {
  background-color: #845ec2;
}

.text-color-2 {
  background-color: #c493ff;
}

.text-color-3 {
  background-color: #fefedf;
}

.text-color-4 {
  background-color: #d5cabd;
}

h1,
h2,
h3 {
  color: black;
}

/* Hero section */
#hero {
  /* height: 500px;
  width: 100%;
  background: url('../images/hero.jpg') no-repeat center center/cover;
  position: relative; */
}

#cover-text {
  background-color: rgba(255, 0, 17, 0.4);
  font-size: 130%;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 150px;
  padding-top: 40px;
  height: 10%;
}

#cover-text>h2,
#cover-text>h3 {
  color: #ffffff;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #f5f5f5;
  padding: 20px 0;
}

#socials {
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#socials i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

#footer-text {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

#footer-text a {
  text-decoration: none;
  color: white;
}

#footer-text a:hover {
  color: red;
  transition: color 0.75s;
}

/* MEDIA QUERIES */
/* Very Small devices (tablets, 480px and up) */
@media screen and (min-width: 480px) {
  #hero {
    max-height: 100px;
  }
}

/* Small devices (tablets, 576px and up) */
@media screen and (min-width: 576px) {
  #hero {
    max-height: 200px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #hero {
    max-height: 300px;
  }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #hero {
    max-height: 500px;
  }
}